.heroImage {
  position: absolute;
  z-index: -1;
  right: 0%;
  margin-bottom: 100px;
  top: 100px;
}

@media (max-width: 1040px) {
  /** Prevents hero image eye coverage**/
  .heroImage {
    display: none;
  }
}

@media (min-width: 768px) {
  .heroImage {
    right: 0%;
    padding-top: 20px;
  }
}

@media (max-width: 1400px) {
  .heroImage {
    right: 0%;
  }
}
