.heroImage {
  position: absolute;
  z-index: -1;
  left: 0%;
  top: 6%;
}

@media (max-width: 768px) {
  /** Prevents hero image eye coverage**/
  .heroImage {
    display: none;
  }
}

@media (min-width: 768px) {
  .heroImage {
    right: 10%;
    padding-top: 20px;
  }
}

@media (max-width: 1400px) {
  .heroImage {
    bottom: 200px;
    right: 10%;
  }
}
